body {
  background: #EDEFEF;
}
nav {
  position: fixed;
  left: 0%;
  top: 0%;
  box-sizing: border-box; 
  width: 20%;
  margin: 0%;
  padding: 0em;
  background: #F2F2EF;
  color: #000000;
  font-size: x-small;
  }
nav ul {
  margin-left: 0em;
  margin-right: 0em;
  padding-left: 2em;
}
/*nav li.toplevel {
  color: black;
  background: white;
  margin-bottom: 2em;
}*/
a:link {
  text-decoration: none;
  color: #0061FF;
}
a:visited {
  color: #003EAA;
 }
.collapsibleList li{
  cursor:auto;
  list-style-position: inside;
  list-style-type: disc;
  list-style-image: url('button.svg');
}
li.collapsibleListOpen{
  list-style-image:url('button-opened.svg');
  cursor:pointer;
}
li.collapsibleListClosed{
  list-style-image:url('button-closed.svg');
  cursor:pointer;
}
main {
  position: relative; 
  box-sizing: border-box;
  margin: 0%;
  background: inherit;
  width: 77%; 
  left: 20%;
  padding: 1em;
}